<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Restaurant</title>
  </head>
  <body>
    <h1>Edit restaurant</h1>

    <form action="/restaurants/<%=restaurant._id%>?_method=PUT" method="POST">
      <div>
        <label for="title">Title</label>
        <input
          type="text"
          id="title"
          name="restaurant[title]"
          value="<%=restaurant.title%>"
        />
      </div>
      <div>
        <label for="location">Location</label>
        <input
          type="text"
          id="location"
          name="restaurant[location]"
          value="<%=restaurant.location%>"
        />
      </div>
      <button>Update Restaurant!</button>
    </form>

    <a href="/restaurants/<%= restaurant._id%>">Back to all the Restaurants</a>
  </body>
</html>
