<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Restaurants</title>
  </head>
  <body>
    <h1>All Restaurants</h1>
    <div>
      <a href="/restaurants/new">Add a new Restaurant</a>
    </div>
    <ul>
      <% for (let restaurant of restaurants){%>
      <li>
        <a href="/restaurants/<%= restaurant._id %>"><%= restaurant.title %></a>
      </li>
      <% }%>
    </ul>
  </body>
</html>
