<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Restaurant show</title>
  </head>
  <body>
    <h2><%=restaurant.title%></h2>
    <h3><%=restaurant.location%></h3>

    <p><a href="./<%= restaurant._id %>/edit">Edit </a></p>
    <p>
      <form action="/restaurants/<%= restaurant._id%>?_method=DELETE" method="POST">
        <button>
          Delete
        </button>
      </form>
    </p>

    <footer>
      <a href="/restaurants">All restaurants</a>
    </footer>
  </body>
</html>
